extends layout

block content
  form(id="chat")
    select(id="selectRoom")
      option(value="all" selected= sala == "all") Sala de chat todos
      -for(var i = 1;i<10;i++){
      option(value=i selected= sala == i) Sala de chat #{i}
      -}
    div(id="chatBox") #{text}

    label Autor
    input(type="text" id="autor" placeholder="")
    br
    label Mensaje
    input(type="text" id="msg" placeholder="")
    input(type="submit" value="Enviar")
    
    script(type='text/javascript' src='/js/chat.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')

