extends layout
block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  - var alumnos = ["Amanda","Juan","Laura"]
  - var profesores = ["Sandra","Jose","Pepito"]
  form(id="newAsignatura")
    div.form-group
      label(for="asignatura") Nom asignatura:
      input.form-control(id="asignatura" name="asignatura" type="text")
    div.form-group
      label(for="numhoras") Numero horas:
      input.form-control(id="numhoras" name="numhoras" type="text")
    div.form-group
      label(for="profesor") Profesor: 
      div.form-group(id="profesor")
      select 
        for profe in profesores
          option=profe
    div.form-group
      label(for="alumnos") Alumnos: 
      div.form-group(id="alumnos")
        for alumno in alumnos
          p= alumno
          input(type="checkbox", name="alumnoCheck", id="alumnoCheck")
    input(type="submit")

